@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    font-family: Poppins,sans-serif;

}

header{
    margin-left: 42px;
    margin-top: 47px;
    margin-bottom: 178px;
   

}
.link-header{
    margin-left: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #17233D;

}

.button-header{
    margin-left: 32px;
    width: 124px;
    height: 51px;
    border-radius: 6px 0px 0px 0px;
    border: 0.5px 0px 0px 0px;
    background: #6FBF44;
    color: #FFFFFF;
    border: black;   
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;


 
}
.div-img{
    width: 595.18px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;

}
.div-main{
    display: inline-block;
    margin-left: 84px;
}
h1{
    height: 164px;
    width: 582px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: #161A49;
    margin-bottom: 47px;
}
p{
    width: 493px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: #4B505A;
    margin-bottom: 56px;

}
.button-main{
    width: 112px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;



}
@media screen and (max-width:545px) {
    .link-header{
        display: none;
    }
    
    .div-img{
        display: block;
        position: relative;
        top: 400px;
        right: 310px;
        left: -108px;
        height: 430px;
    }
    .div-main{
        display: block;
        position: relative;
        bottom: 600px;
        margin-top: 83px;
        position: relative;
        left: -28px
    }

    .button-header{
        position: relative;
        left: 380px;
        margin-left: -23px;

    }

    
}
